:root{
    --background-color : #f7f7f7;
    --accent-color : #C09BD8;
    --text-color : #6f3f81ad;
    --title-color :#300b3dad;
    --middel-size : 30px;
    --img-width : 200px;
    --img-height : 200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    position: fixed;
    width: 100%;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Dongle';
    font-size: 40px;
    background-color: var(--background-color);
    color: var(--text-color)
}

.body::--webkit-scrollbar{
    width: 10px;
    background-color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.home_data{
    font-size: var(--middel-size);
    display: flex;
    margin: 0 auto;
    width: 50%
}

.main{
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}

.goal_data{
    font-size: var(--middel-size);
    margin: 50px auto;
    margin-bottom: 0;
    width: 50%
}

.home_data h1{
    color: var(--title-color);
}

.skill_data{
    font-size: var(--middel-size);
}

.favorite_data{
    font-size: var(--middel-size);
}

h2, h3{
    color: var(--title-color);
}

.home_describe {
    margin-left: 50px;
}

.goal_describe {
    font-size: var(--middel-size);
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-bottom: 0;
}

.goal_describe p {
    margin-right: 50px;
}

.skill_describe {
    font-size: var(--middel-size);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
}

.skill_list{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 30%;
    margin-top: 50px;
}

.HTML{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CSS{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.JS{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.REACT{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_sub{
    display: block;
    text-align: center;
    margin-top: 50px;
}

.me_img {
    justify-content: flex-end;
    width: var(--img-width);
    border-radius: 10px;
}

.me2_img{
    width: var(--img-width);
    justify-content: flex-end;
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    max-width: 980px;
    padding: 8px 15px;
    margin: 0 auto; 
}

.name_logo {
    font-style: normal;
    font-size: 30px;
}

.navbar_logo {
    font-size: 50px;
}

.navbar_menu {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_list:hover {
    color : var(--accent-color);
}

#dark{
    display: flex;
    font-size : 30px;
    padding-left: 0;
}

#dark:hover{
    color : var(--accent-color);
}

.favorite_img{
    width: var(--img-width);
    height: var(--img-height);
    border-radius: 10px;
}
#favorite_img{
    margin-top: 0;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    top: 25px;
    font-size: 40px;
}

.navbar_toogleBtn:hover{
    color : var(--accent-color);
}

.favorite_game{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.favorite_animal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.favorite_bj{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.favorite_describe{
    margin-left: 50px;
}

#dark {
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    color: var(--text-color);
}

.dark_mode{
    background-color: var(--text-color);
    color: var(--background-color);
}

#footer{
    background-color: (var(--accent-color));
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

@media screen and (max-width : 1000px) {
    .main_p{
        display: flex;
        flex-wrap: wrap;
    }

    .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .goal_describe{
        display: flex;
        flex-wrap: wrap;
    }

    .goal_describe p{
       margin-bottom: 10px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #dark{
        position: absolute;
        right: 90px;
        top: 25px;
        font-size: 40px;
    }
    
    .navbar_toogleBtn{
        display: block;
    }

    .navbar_menu.active {
        display: flex;
    }

    .home_data{
        width: 100%;
    }

    .goal_data{
        width: 100%;
    }

    .skill_data{
        width: 100%;
    }

    .favorite_data{
        width: 100%;
    }

    .favorite_animal{
        display: flex;
        flex-wrap: wrap;
    }

    .favorite_describe{
        margin-top: 30px;
    }

    .favorite_game{
        display: flex;
        flex-wrap: wrap;
    }

    .favorite_bj{
        display: flex;
        flex-wrap: wrap;
    }

    .footer{
        width:100%;
    }
}