:root{
    --background-color : #f7f7f7;
    --accent-color : #C09BD8;
    --text-color : #240a2ead; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
}

body {
    margin: 0 30px;
    font-family: 'Dongle';
    font-size: 40px;
    background-color: var(--background-color);
    color: var(--text-color)
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.home_data{
    font-size: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    background-color: var(--background-color);
    padding: 8px 15px;
}

.name_logo {
    font-style: normal;
    font-size: 30px;
}

.navbar_logo {
    font-size: 50px;
}

.navbar_logo:hover {
    color: var(--accent-color);
}

.navbar_menu {
    display: flex;
    list-style: none;
    margin: 0 auto;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_list:hover {
    color : var(--accent-color);
}

.theme_change{
    display: flex;
    font-size : 30px;
    padding-left: 0;
}

.theme_change:hover{
    color : var(--accent-color);
}

.favorite_img{
    width: 200px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    top: 25px;
    font-size: 40px;
}

.navbar_toogleBtn:hover{
    color : #C09BD8;
}

@media screen and (max-width : 935px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .theme_change{
        position: absolute;
        right: 90px;
        top: 25px;
        font-size: 40px;
    }
    
    .navbar_toogleBtn{
        display: block;
    }

    .navbar_menu.active {
        display: flex;
    }
}